body {
    /*background-color: #ffc73c;*/
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*section {
    width: 600px;
    margin: 5em auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 1em;
}*/
a:link, a:visited {
    color: black;
    text-decoration: none;
}
.article-img{
   object-fit: cover;
   cursor: pointer;
   width:150px;
   height:150px;
   -webkit-margin-end: 10px;
}
.inline-text{
   display:inline;
}
.article-container{
    margin: 10px;
    display:flex;
}
.articles{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
}
.article-title{
  font-weight: bold;
  font-size: large;
}
.article-intro{
  font-size:small;
}
.article-subtext{
  font-style: italic;
  font-size:small;
}
img:hover {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.styledLink:link{
  text-decoration: underline;
}
h1#pageTitle {
    font-size: 4em;
    font-weight: normal;
    /*font-family: 'Cookie', cursive;*/
    font-family: 'Sacramento', cursive;
}
section#mainSection {
    height: 300px;
    background-color: #47b0d2;
    color: #eee;
    text-align: center;
    padding: 50px;
}
div#tab-bar {
    display: flex;
}
.tab {
    display: flex;
    height: 50px;
    align-items: center;
    flex-grow: 1;
    border: .5px solid lightgray;
    justify-content: center;
    cursor: pointer;
}

/* styling for tab contents */
.clickableTile {
  width: 200px;
  height: 200px;
  border: 1px solid turquoise;
  border-radius: 5px;
  margin: 10px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
}
/*.tileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}*/
span.resource-title-text {
    font-size: 1.4em;
    border-bottom: .5px solid lightgray;
    color: #358098;
}
.resource-description {
    margin-top: 10px;
    margin-bottom: 30px;
}
div#tabContents {
    padding: 20px;
}
.tab.selected{
    background-color: #eee;
    box-shadow: -3px 3px 3px lightgray;
}
.hidden{
  display:none;
}
